@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1{
  text-transform: uppercase;
  line-height: 1em;
}
a{
  text-decoration: none;
  color: #333;
}
header{
  background: #fff;
  padding: 2rem;
}
nav{
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-align: center;
  align-items: center;
}
h1 div:first-child{
  letter-spacing: 1.5px;
  font-weight: 800;
}
h1 div:last-child{
  font-weight: 400;
}
main{
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 30px;
}
main div{
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  border: 1rem solid #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}
main img{
  min-width: 100%;
  height: 100%; 
}
.short{
  grid-row: span 1;
}
.tall{
  grid-row: span 2;
}
@media screen and (max-width: 960px){
  main{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 620px){
  main{
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 20px auto;
  }
  nav{
    grid-template-columns: repeat(4,1fr);
  }
  nav h1{
    grid-column: 1/span 4;
    grid-row: 1;
  }
}